__pycache__/
*.pyc

.venv/

.env

*.db

.vscode/

.idea/

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Model artifacts
backend/data/models/*
!backend/data/models/.gitkeep
!backend/data/models/model.pkl
!backend/data/models/feature_columns.pkl
!backend/data/models/confusion_matrix.png