# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# SQLite Database
*.db

# Processed Data
data/processed/*.csv

# Trained Models
data/models/*
!data/models/.gitkeep
!data/models/model.pkl
!data/models/feature_columns.pkl
!data/models/confusion_matrix.png

# VS Code
.vscode/