fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv

pandas
numpy
scikit-learn
xgboost

beautifulsoup4
requests
tldextract
python-Levenshtein

networkx
python-louvain

prophet

matplotlib

joblib

passlib[bcrypt]
python-jose[cryptography]